{
  "companyId": "{{(index .Values 0).database}}",
  "startTime": "{{(index .Values 0).time.Format "2006-01-02T15:04:05Z07:00"}}",
  "sourceId": "{{(index .Values 0).sourceId}}",
  "trackingId": "{{.Tags.trackingId}}",
  "timeSpent": {{(index .Values 0).timeSpent}}
}
